<center>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/page">Page</a>
    <a href="/findsum">Find_Sum</a>
    <a href="/multiple">Multiplication</a>
    <a href="/circle">Area of Circle</a>
</center>