
    <div class="bg-danger text-white sidebar p-3">
        <div class="text-center">
            <a class="navbar-brand" href="/Patient_Dashboard"><img src="../../public/image/logo.png" width="100" height="100"/></a>
            <h6 class="text-center text-white">Rohan Kumar</h6>
        </div>
                <ul class="nav nav-underline nav-justify flex-column mt-3">
                    <li class="nav-item">
                        <a class="nav-link bg-white text-danger" href="/Patient_Dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white text-danger" href="/Patient_Dashboard">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white text-danger" href="/Patient_Dashboard">My Enquiry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white text-danger" href="/Patient_Dashboard">Book Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white text-danger" href="/Patient_Dashboard">Medical History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white text-danger" href="/Patient_Dashboard">Medicine Prescripation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white text-danger" href="/Patient_Dashboard">Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white text-danger" href="/Patient_Dashboard">LogOut</a>
                    </li>
                
                </ul>
</div>
