<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('CDN/bootstrap.ejs') %>
</head>
<body>
    <div class="d-flex">
    <%- include('Header/Patient_Header') %>
    
    <!-- Right SIde   -->
        <div class="flex-grow-1">
            <div class="container-fluid">
                <div class="row">

                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-2 mt-3">
                            <img src=" " alt="img hospital banner">
                        </div>
                </div>
            </div>
        </div>





    <!-- Right side end -->

    </div>
    <%- include ('Chat/chat.ejs') %> 
    <%- include ('CDN/javascript.ejs') %>
</body>
</html>