<center>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/student_add">Add Student</a>
    <a href="/student_display">View Student</a>
    <a href="/add_employee">Add Employee</a>
    <a href="view_employee">View Employees</a>
    
</center>