<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="../../public/data1/images/1.jpg" alt="We Care Our Patients & Monitoring 24/7" title="We Care Our Patients & Monitoring 24/7" id="wows1_0"/></li>
		<li><img src="../../public/data1/images/2.jpg" alt="Advance Robotic Machines " title="Advance Robotic Machines " id="wows1_1"/></li>
		<li><a href="http://wowslider.net"><img src="../../public/data1/images/3.jpg" alt="css image slider" title="Neat & Clean Infra " id="wows1_2"/></a></li>
		<li><img src="../../public/data1/images/4.jpg" alt="Highly Experienced Doctor MD , MBBS , Surgen More" title="Highly Experienced Doctor MD , MBBS , Surgen More" id="wows1_3"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="We Care Our Patients & Monitoring 24/7"><span><img src="../../public/data1/tooltips/1.jpg" alt="We Care Our Patients & Monitoring 24/7"/>1</span></a>
		<a href="#" title="Advance Robotic Machines "><span><img src="../../public/data1/tooltips/2.jpg" alt="Advance Robotic Machines "/>2</span></a>
		<a href="#" title="Neat & Clean Infra "><span><img src="../../public/data1/tooltips/3.jpg" alt="Neat & Clean Infra "/>3</span></a>
		<a href="#" title="Highly Experienced Doctor MD , MBBS , Surgen More"><span><img src="data1/tooltips/4.jpg" alt="Highly Experienced Doctor MD , MBBS , Surgen More"/>4</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery image carousel</a> by WOWSlider.com v9.0m</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="../../public/engine1/wowslider.js"></script>
<script type="text/javascript" src="../../public/engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->