<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/Abc.css">
    
    <style>
        .abc{
            text-align: center;
            padding:2%;
        }
    </style>
</head>
<body>
    <%- include('common/menu') %>
    <h1 style="background: brown;text-align: center;">This is day two of node class</h1>
    <h2 class="heading" >This is a home Page</h2>
    <img src="../public/image/img1.jpeg" height="300"/>
    <button onclick="Hello()">Click Me</button>
    <script src="../public/js/my.js"></script>
</body>
</html>