
 <!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images">
	<ul>
		<li><img src="../../public/data1/images/1.jpg" alt="Comprehensive Health Checkups" title="Comprehensive Health Checkups" id="wows1_0"/></li>
		<li><img src="../../public/data1/images/2.jpg" alt="Advanced Diagnostics & Labs"" title="Advanced Diagnostics & Labs"" id="wows1_1"/></li>
		<li><img src="../../public/data1/images/3.jpg" alt="Telemedicine Consultations Anytime" title="Telemedicine Consultations Anytime" id="wows1_2"/></li>
		<li><img src="../../public/data1/images/4.jpg" alt="css image slider" title="Personalized Treatment Plans" id="wows1_3"/></a></li>
		<li><img src="../../public/data1/images/5.jpg" alt="Highly Skilled Doctors, Dedicated to You" title="Highly Skilled Doctors, Dedicated to You" id="wows1_4"/></li>
	</ul>
</div>
	<div class="ws_bullets">
		<!-- <div> -->
		<a href="#" title="Comprehensive Health Checkups"><span><img src="../../public/data1/tooltips/1.jpg" alt="Comprehensive Health Checkups"/></span></a>
		<a href="#" title="Advanced Diagnostics & Labs""><span><img src="../../public/data1/tooltips/2.jpg" alt="Advanced Diagnostics & Labs"></span></a>
		<a href="#" title="Telemedicine Consultations Anytime"><span><img src="../../public/data1/tooltips/3.jpg" alt="Telemedicine Consultations Anytime"/></span></a>
		<a href="#" title="Personalized Treatment Plans"><span><img src="../../public/data1/tooltips/4.jpg" alt="Personalized Treatment Plans"/></span></a>
		<a href="#" title="Highly Skilled Doctors, Dedicated to You"><span><img src="../../public/data1/tooltips/5.jpg" alt="Highly Skilled Doctors, Dedicated to You"/></span></a>
	</div>
	<!-- </div> -->
	<div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">html5 slider</a> by WOWSlider.com v9.0</div>
		<div class="ws_shadow">
			
		</div>
</div>	

 <script type="text/javascript" src="../../public/engine1/wowslider.js"></script>
<script type="text/javascript" src="../../public/engine1/script.js"></script>