<div class="card text-center">
  <div class="card-header">
    More Information Contact us AnyTime : +91 834334442 , +91 8307114898 , +91 74949496995 Changigarh
  </div>
  <div class="card-body">
    <h5 class="card-title">Monday-Sunday 24/7 Service</h5>
    <p class="card-text">दुनिया साफ़ देखनी है? पहले अपनी आँखों की सर्विसिंग करवा लो!</p>
    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#location">Our Direction</a>
  </div>
  <div class="card-footer text-body-secondary">
    Copyright @ EyeCare. All Rights reserved
  </div>
</div>


<!--  loca -->

<div class="modal fade" id="location" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Location</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe  class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3429.854573494072!2d76.76585187419239!3d30.722488486130157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fedad88991a07%3A0xb4de516e9171f70e!2sNetmax%20Technologies%20Private%20Limited!5e0!3m2!1sen!2sin!4v1765351084058!5m2!1sen!2sin" height="100%" style="border:0; width:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      
    </div>
  </div>
</div>