.hospital_navbar{
    background-color: rgba(249, 52, 22, 0.968); 
}
.hospital_navbar a{
    color:rgb(239, 244, 244);
    font-weight: bold;
    font-size: 1.1rem;
}
.hospital_navbar a:hover{
    color:grey;
}
.hospital_navbar button:hover{
    background-color: blue;
    color: rgb(246, 246, 250);
}
.scroll-mseg{
    background-color: rgba(249, 52, 22, 0.968); 
    cursor:pointer;
}
.donate{
    animation:blinker 2s linear infinite;
}
@keyframes blinker{
    50% {
        opacity:0;
    }
}


.hline{
    color:red;

}

.hicone{
    color:red;
}


.login_div_margin_bottom
{
  margin-bottom:4%;
}

.sidebar 
{
   width: 240px;
   min-height:100vh;
}
.graph 
{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.count 
{
    font-weight:bold;
    font-size:40px;
    line-height: 1;
}
.label 
{
   margin-top:20px;
   letter-spacing: 4px;
   font-weight: bold;
}
.hg 
{
  height:200px;
}

.bg-white:hover 
{
    background-color: black !important;
    color:white !important;
    border: none !important;
}