<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('common/menu') %>
    <h1 align="center">Swap of Two Number</h1>
    <form action="/swap" method="post">
        Enter a Value <input type="number" name="a" required> <br> <br>
        Enter a Value <input type="number" name="b" required> <br> <br>
        <button>Swap Now</button>
    </form>
    <% if(locals.result)
    {%>
        <h2 align="center"></h2>
        <h2 align="center"><%=result%></h2>
    <%}%>

</body>
</html>