<center>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/page">Page</a>
    <a href="/calculate">Find_Sum</a>
    <a href="/multiple">Multiplication</a>
    <a href="/circle">Area of Circle</a>
    <a href="/swap">Swap Number</a>
    <a href="/add_emp">Employee Add</a>
</center>