<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('CDN/bootstrap.ejs') %>

</head>
<body>
<%- include('PDashboard_bar/pbar') %>

<div style="position: absolute; top:38%;left:30%">
          <h3 class="text-center text-danger donate">Latest Notification</h3>
           <marquee direction="up" class="mt-5">
            <h5 class="mb-4"><a href="">Blood Donation Camp Held on 26 Dec 2025</a></h5>
            <h5 class="mb-4"><a href="">Free Eyes Checkup By NGO india Pvt ltd held on 21-12-2025</a></h5>
            <h5 class="mb-4"><a href="">Distribute Eyes Drop By Ramdev Baba Next Camp Read More</a></h5>
            <h5 class="mb-4"><a href="">Donate Your Eyes ,Know The Procedure </a></h5>
            <h5 class="mb-4"><a href="">How To Claim Health Insurance Know Your Company Registerd With Us? </a></h5>
           </marquee>
        </div>

<%- include('CDN/javascript.ejs') %>
<%- include('chat/chat.ejs') %>
</body>
</html>

