.hospital_navbar {
    background-color: red;
    color:bisque;
}
.hospital_navbar a 
{
    color:antiquewhite;
    font-weight: bold;
    font-size:20px;
}

.hospital_navbar a:hover
{
    color:white;
}

.hospital_navbar button
{
    background-color: white;
    color: black;
}
.hospital_navbar button:hover
{
    background-color: blue;
    color: white;
}

.scroll_mesg 
{
  background-color: red;
  cursor: pointer;
}

.donate 
{
     animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.text-justify 
{
    text-align: justify;
}
.hline
{
  color:red;
}
.hicone
{
  color:red;
}

.login_div_margin_bottom
{
  margin-bottom:4%;
}

.sidebar 
{
   width: 240px;
   min-height:100vh;
}
.graph 
{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.count 
{
    font-weight:bold;
    font-size:40px;
    line-height: 1;
}
.label 
{
   margin-top:20px;
   letter-spacing: 4px;
   font-weight: bold;
}
.hg 
{
  height:200px;
}

.bg-white:hover 
{
    background-color: black !important;
    color:white !important;
    border: none !important;
}